<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I want a recipe for..</title>
</head>
<body>
    <h1>I want a recipe for..</h1>
    <form action="/recipe" method="POST">
        <input type="text" name="recipe">
        <input type="submit">
    </form>

<%= recipe %>    

</body>
</html>